.NewRecipeContainer {
	display: flex;
	justify-content: center;
	flex-direction: column;
	margin-top: 5rem;
}

.NewRecipeContainer > input,
.NewRecipeContainer > textarea {
	text-align: center;
	font-size: 3rem;
	margin-top: 10px;
}
.NewRecipeContainer > textarea {
	resize: vertical;
}
.NewRecipeContainer > button {
	color: white;
	background-color: grey;
	margin-top: 4rem;
	font-size: 3rem;
	border: none;
	transition: 0.25s;
}
.NewRecipeContainer > button:hover {
	background-color: blue;
	cursor: pointer;
}
